@import "tailwindcss";

:root {
  --background: #b9b9b9;
  --def_text: #000000;
}

@layer utilities {
  .bg-background {
    background-color: var(--background);
  }
  .text-default {
    color: var(--def_text);
  }
}
